button {
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 5px;
    color: black;
}

.divButton {
    margin: 5px;
}

.adicionarItem {
    background-color: orange;
}

.exibirResultado {
    background-color: green;
    color: whitesmoke;
}